* {
  margin: 0px;
  padding: 0px;
  /* outline: 0.1vh solid green !important; */
  font-family: sans-serif;
  color: "#050505";
  background-color: none;
  background: none;
  border: none;
  font-weight: normal;
  user-select: none;
  box-sizing: content-box;
}

button {
  cursor: pointer;
}
div {
  background-color: #ffffff;
}
